* {                         /* permet de readapter tout ce qui deborde */
    overflow: auto;
}

body {

    background-color: #614c06;
    font-family: Arial;
    margin: 0;
} 

p.categorie {

    background-color: rgb(21, 32, 29);
    color: rgb(240, 237, 234);
    display: inline-block;
    margin-top: 80px;
    padding: 10px 20px;
    margin-bottom: -40px;
    font-weight: bold; 
          
                                                      /* comantaire CSS*/
}

.titre {

    margin-bottom: -20px;
    
}

.contenu {

    background-color: white;
    margin: 4px 8% 80px 5%;
    padding: 8px 8px 20px;
    /*min-width: 320px;*/
    box-shadow: 0px 0px 80px rgb(17, 16, 17); 
    overflow: visible;
 
 
}

h1 {
    text-align: center;
}

p.decription {

    text-align: center;
    
  

}
.center {

    text-align: center;
    width: 100%;
   
}

div.separateur {

    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

}

.liens_rapide {

    margin-right: 80%;
}

.info_tableau {

    position: absolute;
    bottom: 0;
    width: 100%;
    color: cornsilk; 
    background-color: #050606C0;
    height: 50;
}


.info_tableau th {

    text-align: center;
    font-size: 14px;
    vertical-align: bottom;
  
}

.info_tableau td {

    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

div.info {

    position: relative;
}

.info_image{

    display:block;                       /* aide a redimentionner une image*/
    max-height: 500px;
    object-fit: cover;                   /* permet de ne pas deformer une image */
    min-height: 200px;
    background-color: lightgray;        /*permet de garder la forme de l'image quand la l'image se charge*/
}

.colonne{

    width: 100%;
    margin-top: 20px;
}


.colonne h2{

    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid red;
    padding-bottom: 5px;
}

.colonne1 {

    display: inline-block;

}

.petit_tableau p {

    text-align: center;
    font-size: 15px;
    border: 2px solid lightslategray;
    padding: 10px 0px;
    margin: 11px;

}

.forme_du_numero p {

    text-align: center;
    background-color: lime;
    color: white;
    width:25px ;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    box-sizing: unset ;
    border-radius: 50%;
    margin: 7px;

}

.signification-couleur {
    padding-left: 10px;
    text-align: left;
        
    
}

.forme_du_numero tr {

    height: 40px;
}

/*style d'affichage pour ordinateur */
@media only screen and (min-width: 768px) {
    
    .contenu {
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 320px;
     
    }
        
    .info_tableau {

        height: 80;
    }


    .info_tableau th {

        font-size: 16px;
    
    }

    .info_tableau td {

        font-size: 14px;
    }

    .colonne{

        width: 45%;
       
    
    }
    
    .colonne h2 {
    
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        border-bottom: 5px solid red;
        padding-bottom: 5px;
    }
    
    .colonne1 {

        margin-right: 10%;
       
    }
    
    .colonne2{
    
        float: right ;
    }

}


@media only screen and (min-width: 768px) {
    
    .contenu {
        margin-left:5px;
        margin-right: 5px;
        min-width: 645px;
     
    }
}